.resume{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.cover-info,
.intro{
  flex: 1;
  position: relative;
}

.intro{
    margin: 10px;
}

.cover-info{
    background-color: #2894FF;
}

.cover-info .bg{
    background-image: url(http://coding.imweb.io/img/project/resume/bg.png);
    width: 100%;
    height: 100%;
}

.cover-info .contain{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contain .pt{
    background: url(http://coding.imweb.io/img/project/resume/avatar.png) no-repeat;
    background-size: cover; 
    width: 100px;
    height: 100px;
    border: 8px solid #46A3FF;
    border-radius: 50%;
    margin: 0 auto;
}



.pt:hover{
    box-shadow: 0 0 10px 10px #84C1FF;
    transition: all 0.3s ease-in-out;
}



.contain .name{
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
    color: white;
}

.work{
    text-align: center;
    color: white;
}

.email{
    justify-content: row;
    display: flex;
}

.icon-mail:before {
    content: "\ea86";
    font-size: 15px;
}

.icon-phone:before {
    content: "\e942";
}

.icon-link:before {
  content: "\e96d";
}

.info-list i,.info-list span{
    color: white;
}

ul {
    list-style: none outside none;
}

.info-list .iconfont {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
}

.info-list{
    padding: 0;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-item{
    width: 250px;
}

.info-list .iconfont:before {
    line-height: 24px;
}

.info-list .info-item:not(:first-child) {
    margin-top: 10px;
}

.life{
    margin-top: 40px;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: space-between;
    color: white;
    border-radius:5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3) 
}

.life1,.life2{
    padding-left: 10px;
    width: 34%;
    line-height: 30px;
}

.info-item a{
    text-decoration: none;
    color: white;
}

.section-hd{
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.section-hd::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    top: 50%;
    left: 0;
}

.section-hd .hd-tt{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    background:#fff;
    padding: 0 15px;
    color: #2894FF;
}

.line{
    background: linear-gradient(to bottom,#d0d0d0 300px,#F0F0F0 50px);
    height: 350px;
    width: 2px;
    margin-left: 20px;
    position: relative;
}

.item_line{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:4px solid rgba(255,255,255,0.5);
    background:#46A3FF;
    margin-left: -13px;
}

.line_text{
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -28px;
    width: 512px;
}

.line_text3{
    padding-top: 10px;
    color: #ADADAD;
}

.item_line2{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:4px solid rgba(255,255,255,0.5);
    background:#46A3FF;
    margin-left: -13px;
    top: 180px;   
}

.skill_item{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
}

.skill_item1{
    margin-left: 20px;
}

.skill_item2{
    font-size: 10px;
    width: 40px;
    height: 15px;
    border-radius: 10px;
    border:1px solid #ADADAD; 
    text-align: center;
    color: #ADADAD;
}

.skill{
    margin-left: 20px;
    color: #ADADAD;
}

.skill_loading{
    background: linear-gradient(to right,#0080FF 20%,#d0d0d0 20%);
    width: 98%;
    height: 6px;
    margin-left: 20px;
    border-radius: 10px;
}

.skill_loading2{
    background: linear-gradient(to right,#0080FF 90%,#d0d0d0 90%);
    width: 98%;
    height: 6px;
    margin-left: 20px;
    border-radius: 10px;
}

.skill_loading3{
    background: linear-gradient(to right,#0080FF 50%,#d0d0d0 50%);
    width: 98%;
    height: 6px;
    margin-left: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .resume{
        flex-direction: column;
    }
    .cover-info,
    .intro{
        width: 100%;
        height: 960px;
    }
}